.loader {
  margin: 0 auto;
  width: 48px;
  height: 48px;
  border: 8px solid #00BDD3;
  border-top: 8px transparent solid;
  border-radius: 50%;
  animation: spin 2s linear infinite;

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}