@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700;800&display=swap');

$primary-font-family: "Nunito", Helvetica, Arial, sans-serif;

$font-size: 16px;
$font-line-height: 26px;

// Titles
$h1: 700 40px/40px $primary-font-family;

// Main texts
$font14: 400 14px/26px $primary-font-family;
$font16: 400 16px/26px $primary-font-family;
